@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap");
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
body{
  background:#000;
}
ul, li{list-style:none;}
a{text-decoration: none;}
button{
  border:none; outline:none;
  background:transparent;
  cursor:pointer;
}

/*navbar*/
nav{
  width:100%;
  display:flex;
  justify-content: center;
}
.nav-content{
  width:980px;
  padding:0 10px;
}
.nav-content ul{
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap:24px;
}

.apple-navbar a{
  color:#d5d5d5;
  font-size:14px;
  line-height:44px;
}
.apple-navbar ion-icon{
  font-size:18px;
  transform: translateY(3px);
}
.apple-navbar a:hover{
  color:#fff;
}

.airpods-navbar .nav-content{
  padding-top:18px;
  padding-bottom:12px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid rgba(255,255,255,0.25);
}
.nav-logo a{
  color:#fefefe;
  font-size:21px;
  font-weight: 600;
  line-height:24px;
}
.nav-items button{
  color:#fefefe;
  font-size:14px;
  line-height:22px;
}
.nav-items button:hover{
  color: #2997ff;
}
/* 비활성화된 버튼의 스타일 */
.nav-items button:disabled,
.nav-items button:disabled:hover{
  color: #bebebe;
  cursor: default;
}
.nav-items .buy-btn{
  padding: 0 12px;
  background: #147ce5;
  border-radius: 12px;
}
.nav-items .buy-btn:hover{
  color: #fefefe;
}
/* 스크롤을 내리면 두번째 내비게이션바를 뷰포트 상단에 고정시키는 스타일 */
.sticky{
  position: fixed;
  top: 0;
  backdrop-filter: saturate(180%) blur(15px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  z-index: 10;
}
.sticky .nav-content{border-bottom: none;}

.sticky section{
  padding-top: 44px;
}

/* section */
section{
  width: 100%;
  min-height: 100vh;/*section영역의 높이를 뷰포트의 높이로 설정*/
  background: #000;
  color: #f5f5f7;
  overflow: hidden;/*섹션 영역 밖으로 콘텐츠가 넘치면 가려줌*/
}
/* 스크롤 섹션 */
.scroll-section{
  width: 100%;
  height: calc(100vh - 44px);/*스크롤 섹션의 높이를 뷰포트 높이에서 내비의 영역을 제외한 높이로 설정*/
  position: relative;
}
/* 캔버스 요소 */
.canvas-elem{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
/* 메인 메시지 위치 */
.main-elem,
.msg-elem{
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
}
.msg-elem{
  transform: translate(-50%, 0%);
  opacity: 0;
}

/* 메인 요소의 텍스트 스타일 */
.main-elem h1{
font-size: 150px;
}
.main-elem span{
  font-style: italic;
}
.main-elem ion-icon{
  font-size: 28px;
  transform: translateY(6px);
}
.main-elem a{
  color: #f5f5f7;
  font-weight: 700;
  font-size: 22px;
}
.main-elem a:hover{
  text-decoration: underline;
}

/* 메시지 요소의 텍스트 스타일 */
.msg-elem h2{
  font-size: 96px;
}
.msg-elem small{
  font-size: 18px;
  font-weight: 600;
}
.msg-elem p{
  font-size: 64px;
  font-weight: 700;
  line-height: 68px;
}

.section-01 .canvas-elem canvas{
width: 900px;
}
.section-02 .canvas-elem canvas{
width: 100%;
}

/* 스태틱 섹션 */
.static-section{
  padding: 50px 0;
  position: relative;
}
.static-section > div{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* 섹션03 */
.section-03 .text{
  width: 340px;
  position: absolute;
  font-size: 22px;
  font-weight: 600;
}
.section-03-1 .text{
  left: 14%;
  bottom: 40px;
}
.section-03-2 .text{
  left: 23.5%;
  bottom: 42px;
}
.section-03-3 .text{
  left: 25%;
  top: 42px;
}

/* 섹션 04 */
.section-04 .text{
  position: absolute;
  font-style: 22px;
  font-weight: 600;
}
.section-04-1 .text{
  text-align: center;
}
.section-04-1 .text p{
  padding-bottom: 20px;
  font-size: 21px;
}
.section-04-1 .text h1{
  font-size: 96px;
  font-weight: 700;
  line-height: 84px;
}
.section-04-2 .text{
  width: 365px;
  right: 18%;
  bottom: 0;
  font-size: 24px;
}

/* 섹션 05 */
.section-05{
  padding-bottom: 0;
}
.section-05 .text{
  width: 440px;
  position: absolute;
  left: 17%;
  bottom: 120px;
  display: block;
  text-align: left;
}
.section-05 .text p{
  padding: 22px;
  color: white;
  font-size: 21px;
  font-weight: 700;
}

/* 푸터 */
footer{
  width: 100%;
  background: #f5f5f7;
  display: flex;
  justify-content: center;
}
footer .content{
  padding: 40px;
  width: 980px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}